*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.nav-bar{
    height:60px;
    width:100%;
    background-image: url("hero1.jpg");
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.logo{
    height: 60px;
    width: 125px;
    margin-left: 5px;
    margin-right: 800px;
    right:100px;
    zoom: 125%;
}

img{
    width: 100%;
    height: 800px;
}

button{
    background-color: red;
    height: 40px;
    width: 80px;
    color: #fff;
    border: 1px solid black;
    font-size: medium;
    border-radius: 10%;
    font-weight: bolder;
    margin-top: 10px ;
    margin-right: 2px;
}

button:hover{
    border: 2px solid white;
}

select{
    font-size: 22px;
    height:40px;
    width: 12S0px;
}

.drop-down{
    margin-top: 15px;
    color: #fff;
    background-color: transparent;
    font-size: 25px;
}

i{
    left: 25%;
    font-size: 25px;
    color: #ffff;
}

.container{
    position: relative;
    text-align: center;
    }

.on-text1{
    position: absolute;
    color:#fff;
    bottom: 545px;
    left: 600px;
}

.on-text2{
    position: absolute;
    color: #fff;
    bottom: 445px;
    left: 616px;
}

h1{
    font-size: 49px;
}

.email{
    position: absolute;
    bottom: 375px;
    left:615px;
    height: 40px;
    width:370px;
    font-size: 20px;
}

.gs{
    position: absolute;
    bottom: 375px;
    left:970px;
    height: 40px;
    width: 100px;
    border-radius: 0%;
}

.main{
    height: 800px;
    width:1520px;
    background-color: #000000;
}